body {
    padding-top: 20px;
    background-color: #E6E6E6;
}
h1 {
    color: #A9A7A7;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: lighter;
}

.room {
    position: relative;
    padding-left: 50px;
}

.room h3 {
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.room .more_info {
    color: grey;
}

.room .index {
    font-size: 50px;
    position: absolute;
    left: 3px;
    top: 0;
    color: #2196F3;
}